[submodule "chef/cookbooks/locale"]
	path = chef/cookbooks/locale
	url = https://github.com/ngpestelos/chef-locale.git
	branch = master
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
	branch = master
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
	branch = master
