[submodule "chef/cookbooks/locale"]
	path = chef/cookbooks/locale
	url = https://github.com/ngpestelos/chef-locale.git
	branch = master
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
	branch = master
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
	branch = master
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
	branch = master
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
	branch = master
[submodule "chef/cookbooks/chef_gem"]
	path = chef/cookbooks/chef_gem
	url = https://github.com/hw-cookbooks/chef_gem.git
	branch = master
[submodule "chef/cookbooks/rvm"]
	path = chef/cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm.git
	branch = master
[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = git://github.com/davekerber/puppet-rvm.git
	branch = master
[submodule "chef/cookbooks/mysql"]
	path = chef/cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
	branch = master
